ul {/*REMOVE A FORMATACAO PADRAO*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2C2E43;
    /*FIXA "BARRA DE MENU" NO TOPO*/
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;/*COLOCA ELEMENTOS PERTO UM DO OUTRO*/
}

li a {
    display: block;/*FAZ TODA AREA DO LINK SER CLICAVEL*/
    color: #FFD523;
    text-align: center;
    padding: 14px 16px;/*COLOCA ESPACAMENTO ENTRE OS ELEMENTOS*/
    text-decoration: none;
    font-weight: 700;
  }

li a:hover {/*MUDA A COR QUANDO PASSA O MOUSE*/
    background-color: #595260;
    color: #FFD523;
}

.active {/*CRIA UMA CLASSE QUE MUDA A COR DO ELEMENTO*/
    background-color: #2C2E43;
  }

.logo-bar{
    width: 50px;
}


