.titulo{
    display: flex;/*FAZ AS COISAS FICAREM LADO A LADO*/

    justify-content: center;/*JUSTIFICA EIXO X*/
    align-items: center;/*JUSTIFICA EIXO Y*/

    margin-top: 100px;
}

.titulo > h1{
    position: fixed;
    font-weight: 800;
    letter-spacing: 3px;
    background-color: #FFD523;
    color: #2C2E43;
    width: 50%;
    text-transform: uppercase;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tipos > ul{
    justify-content: left;
    align-items: left;
    display: flex;

    margin-top: 180px;

    background-color: white;

    box-sizing: border-box;
}

.tipo-tin > h4{
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
}

.tipo-tin > button{
    border: none;
    margin-left: 20px;
    color: #2C2E43;
    border-radius: 8px;
    color: #2C2E43;
    background-color: #FFD523;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: auto;
    height: 30px;
}

button > a{
    padding-top: 8px;
    text-decoration: none;
    color: black;
    outline: none;
    justify-content: center;
    align-items: center;
}

.tipo-tin > button:hover{
    background-color: #d4b21b;
    box-shadow: 1px 1px 3px black;
}

button > a:hover{
    text-decoration: none;
    color: black;
    outline: none;
}

/*--------------------------------------------------------------------*/
/*                   PROCESSOS DE RECURSOS HUMANOS                    */
/*--------------------------------------------------------------------*/
.tipos > ul.tipo-rh{
    justify-content: left;
    align-items: left;
    display: flex;

    margin-top: 250px;
    background-color: white;

    box-sizing: border-box;
}

.tipo-rh > h4{
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
}

.tipo-rh > button{
    border: none;
    margin-left: 20px;
    color: #2C2E43;
    border-radius: 8px;
    color: #2C2E43;
    background-color: #FFD523;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: auto;
    height: 30px;
}

.tipo-rh > button > a{
    padding-top: 8px;
    text-decoration: none;
    color: black;
    outline: none;
    justify-content: center;
    align-items: center;
}

.tipo-rh > button:hover{
    background-color: #d4b21b;
    box-shadow: 1px 1px 3px black;
}